{% include 'navbar.html' %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function clearTextarea() {
        $("#output").val("");
        $("#input-area").val("");
    }
</script>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block content %}

<div>
    <form action="" method="POST" id="input-form">
        {% csrf_token %}
        <textarea class="text" id="input-area" name="input-description" placeholder="Enter your text here..." >{{ description }}</textarea>
        <input type="submit" value="Check" class="button">
    </form>
    {% if changed_description %}
    
    <form action="" id="output-form">
        <textarea class="text" id="output">{{ changed_description }}</textarea>
        <input type="button" value="Clear" id="clear" class="button" onclick="clearTextarea();">
    </form>
    {% else %}
    <form action="" id="output-form">
        <textarea class="text" placeholder="Result" disabled></textarea>
        <input type="button" value="Clear" class="button" onclick="clearTextarea();">
    </form>
    {% endif %}

</div>

{% endblock content %}


