{% include 'navbar.html' %}
{% load static %}


<section>
    <p>The input text is: <br>
    {{ description }}
    </p>
    <hr>
    <p>The output text is: <br>
    {{ changed_description }}
    </p>
</section>
<style>
    section {
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(232, 252, 230, 0.9);
        margin: 1rem auto;
        width: 50%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: black;
    }
    p {
        font-size: 20px;
    }
</style>